body
{
    background: linear-gradient(to right,rgb(0, 0, 0),rgb(150, 49, 168),rgb(222, 20, 241),rgb(150, 49, 168),rgb(0, 0, 0));
    text-align: center;
}
h1
{
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-weight: 700;
}
.div_principal
{
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    margin: 0px;
}
.imagen_izquierda
{
    grid-column-start: 2;
}
.imagen_derecha
{
    grid-column-start: 4;
}
img
{
    border-radius: 90px;
}